<!doctype html>
<html lang="en">
<!-- Page Header -->
<%- include ../partials/header.ejs %>
<body>
<!-- Main Navigation -->
<%- include ../partials/main_nav.ejs %>
<!-- Main Section -->
<section class="bg-light pb-5 pt-5 text-secondary" data-pg-collapsed>
    <div class="container pb-5 pt-5">
        <h2><%= title %></h2>
        <a href="/book-list/add" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Add a Book</a>
        <div class="table-responsive" data-pg-collapsed>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Published</th>
                        <th scope="col">Price</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let count = 0; count < BookList.length; count++){ %>
                        <tr>
                            <td><%= BookList[count].name%></td>
                            <td><%= BookList[count].author%></td>
                            <td><%= BookList[count].published%></td>
                            <td><%= BookList[count].price%></td>
                            <td>
                                <a href="/book-list/edit/<%= BookList[count].id %>" class="btn btn-primary"><i class="fa-solid fa-pencil"></i> Edit</a>
                            </td>
                            <td>
                                <a href="/book-list/delete/<%= BookList[count].id %>" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete</a>
                            </td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- Footer Section -->
<%- include ../partials/footer.ejs %>
<!-- Scripts Section -->
<%- include ../partials/scripts.ejs %>
</body>
</html>