<!doctype html>
<html lang="en">
<!-- Page Header -->
<%- include partials/header.ejs %>
<body>
<!-- Main Navigation -->
<%- include partials/main_nav.ejs %>
<!-- Main Section -->
<main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1><%= message %></h1>
            <h2><%= error.status %></h2>
            <pre><%= error.stack %></pre>
        </div>
    </div>
</main>
<!-- Footer Section -->
<%- include partials/footer.ejs %>
<!-- Scripts Section -->
<%- include partials/scripts.ejs %>
</body>
</html>